/* CSS Document */
@smallDesk: ~"only screen and (max-width: 1150px)";
@tablet: ~"only screen and (max-width: 992px)";
@smartPhones: ~"only screen and (max-width: 768px)";

body {
	margin:0;
	padding:0;
	color:#333;
	line-height:2em;
	font-family: Arial, Helvetica, sans-serif;
	background:#FFF;	
	@media @smartPhones {		
		body { overflow-x:hidden; }
	}
}

.o-center {
	position:relative;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	width:auto;
	height:inherit;
	max-width:992px;
}

.o-flex { display: flex; }
a {
	color: #e3472f; 
	text-decoration: underline;
	cursor: pointer;
	&:hover{
		color: #a43322;
	}
}